/*Global Section*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}
li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  margin: 2.5rem 0;
  text-decoration: underline;

}
h3 {
  font-size:  2.5rem;
}
h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2c2c2c;
}


/* Welcome Section */

.intro-text h1{
  font-size: 5rem;

text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
color: #000000;

}
.main-head {
    width: 95%;
    margin: 0 0 0 auto;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 60%;
    flex-wrap: wrap;
    position:fixed;
  }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      flex: 1 1 10rem;
    }


    .logo img {
      margin-top: 1rem  ;
      
    }
      h1 {
        margin: 2rem;
      }
    
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: center;
      flex: 1 1 40rem;
    }
  
  #welcome-section {
    height: 100vh;
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .container{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  #container1{
    box-shadow:  4px 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    
  }


    /*background: linear-gradient(left, #38d39f, #38a4d3);
    background-clip: text;
    -webkit-text-fill-color: transparent;*/
    
    h3 {
      font-size: 6rem;
      padding: 2rem 0rem;
    }
    p {
      padding-top: 2rem;
      color: #2c2c2c;
      text-align: justify;
    }
  
  
  .splash {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: -1;
  }
  
  .intro-social {
    margin-top: 4rem;
  }
    a {
      margin-right: 5rem;
    }
  
  
  .active-home:hover{
    background: #2c2c2c;
    color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
  }

  .active-projects:hover{
    background: #2c2c2c;
    color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
  }

  .active-contact:hover{
    background: #2c2c2c;
    color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
  }

  .intro-text,
  .intro-images {
    flex: 1 1 40rem;
  }

#plant-left {
    animation: plant 1.5s ease infinite alternate;
  }
  #plant-right {
    animation: plant 1.5s ease infinite alternate 0.5s;
  }
  
  #me {
    animation: me 1s ease infinite alternate;
    transform-origin: bottom;
  }
  #clock-arrow {
    animation: clock 1.5s infinite linear;
    transform-box: fill-box;
    transform-origin: bottom;
  }
  
  @keyframes me {
    from {
      transform: rotateZ(-5deg);
    }
    to {
      transform: rotateZ(5deg);
    }
  }
  
  @keyframes plant {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-30%);
    }
  }
  @keyframes clock {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

/* Project Section */

#projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
 
}
.project-tile{
display: flex;
justify-content: center;
}

.project-tile img{
  border-radius: 1.5rem;
  width: 30vw;
  height: 50vh;
  min-width: 300px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px;
}

.project-tile,
.elena {
  flex: 1 1 40rem;
}

/*Contact Section*/

.form-section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: white;
}
    form {
      padding: 3rem 10rem;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
      border-radius: 2rem;
      margin: 2rem 0;
      min-width: 300px;
      background: #154353

    }
  
      input,
      textarea {
        margin: 2rem;
      }

      input,textarea:focus {
          outline: 2px solid black;
        }
    
      textarea {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
      }

      button {
        width: 100%;
        padding: 2rem;
        color: black;
      }
        button:focus {
          background: rgb(51, 105, 107);
          color: white;
        }
    
  
/*Footer*/

footer {
    background: #154353;
    color: white;
    min-width: 300px;
    min-height: 10vh;
    padding: 0% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
    
    ul {
      flex: 1 1 40rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    }
    
    h4 {
      flex: 1 1 40rem;
    }
  

/*Media Query Section*/

@media screen and (max-width: 1157px) {

  h3{
    margin-top: .5rem;
    font-size: 5rem;
  }

  .intro-text h1 {
    margin-top: 10rem ;
    font-size: 4rem;
  }

  p{
    font-size: 2.4rem;
  
  }
   


@media screen and (max-width: 943px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}

 @media screen and (max-width: 753px)
 {

 html {
  font-size: 45%;
}
svg {
  height: 60%;
}
.main-head {
  width: 
  100%;
}
 }


 @media screen and (max-width: 639px)
 {

  h3{
    text-align: center;
    
  }

  .intro-text h1 {
    text-align: center;
  }

  .container{
    height: 140vh;
  }

  .intro-images svg{
    right: 100%;
  }


}
}

@media screen and (max-width: 439px)
{
  .intro-text h1 {
    margin-top: 13rem;
  }

  .container{
    height: 130vh;
  }

  .logo img{
    width: 35px;
    height: 35px;
  }


}
 